<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 
        Aqui sucede lo mismo que en el cuerpo del html, solo que lo aplicamos al head
    -->
    <%- include('partials/header.html') %>
</head>
<body>
    <!-- 
        Incluimos aqui la barra de navegacion, ojo puesto que ha diferencia de la explicacion el formato para
        cargar el incluide varia notablemente
    -->
    <%- include('partials/navbar.html') %>
    <!-- 
        Aqui incluimos el contnido del pie genericos a todos
    -->
    <%- include('partials/pie.html') %>
</body>
</html>